{% extends "server/master.html" %}

{% block page_title %}
Home
{% endblock %}

{% block page_content %}
    <div class="products">

        <div class="prodhead" id="cat">
            <h3 class="prodtext">About Us</h3>
        </div>
        <p>
            Welcome to our online store "APPS". 
            Welcome to our online store "APPS". 
            Welcome to our online store "APPS". 
            Welcome to our online store "APPS". 
            Welcome to our online store "APPS". 
            Welcome to our online store "APPS". 
            Welcome to our online store "APPS". 
            Welcome to our online store "APPS". 

        </p>

        <!--<div class="prodheadi">
            <p class="prodtexti">MacBook</p>
        </div>


        <div class="mac">
            <img src="/static/img/itog/fon.jpg" class="img" alt="macbook pro 13"/>
            <div class="name">
                <a href="#" class="nametext">MacBook Pro 13</a>
            </div>

            <div class="prise">
                <h3 class="usual">1700$</h3>
            </div>
        </div>

        <div class="mac">
            <img src="/static/img/itog/pro15.jpg" alt="MacBook Pro 15" class="img">
            <div class="name">
                <a href="#" class="nametext">MacBook Pro 15</a>
            </div>

            <div class="prise">
                <h3 class="usual">2300$</h3>
            </div>
        </div>

        <div class="mac">
            <img src="/static/img/itog/air2018.jpg" alt="MacBook Air 2018" class="img">
            <div class="name">
                <a href="#" class="nametext">MacBook Air 2018</a>
            </div>

            <div class="prise">
                <h3 class="usual">1500$</h3>
            </div>
        </div>

        <div class="mac">
            <img src="/static/img/itog/air11.jpg" alt="MacBook Air 11" class="img">
            <div class="name">
                <a href="#" class="nametext">MacBook Air 11</a>
            </div>

            <div class="prise">
                <h3 class="usual">900$</h3>
            </div>
        </div>

        <div class="mac">
            <img src="/static/img/itog/air13.jpg" alt="MacBook Air 13" class="img">
            <div class="name">
                <a href="#" class="nametext">MacBook Air 13</a>
            </div>

            <div class="prise">
                <h3 class="usual">1100$</h3>
            </div>
        </div>

        <div class="mac">
            <img src="/static/img/itog/mac112.jpg" alt="MacBook 12" class="img">
            <div class="name">
                <a href="#" class="nametext">MacBook 12</a>
            </div>

            <div class="prise">
                <h3 class="usual">1200$</h3>
            </div>
        </div>


        <div class="prodheadi">
            <p class="prodtexti">iMac</p>
        </div>

        <div class="mac">
            <img src="/static/img/itog/imac.jpg" alt="Imac Pro 21,5 1920*1080" class="img">
            <div class="name">
                <a href="#" class="nametext">Imac Pro 21,5 1920*1080</a>
            </div>

            <div class="prise">
                <h3 class="usual">1300$</h3>
            </div>
        </div>

        <div class="mac">
            <img src="/static/img/itog/imaccc.jpg" alt="Imac Pro 21,5 4k" class="img">
            <div class="name">
                <a href="#" class="nametext">Imac Pro 21,5 4k</a>
            </div>

            <div class="prise">
                <h3 class="usual">1450$</h3>
            </div>
        </div>

        <div class="mac">
            <img src="/static/img/itog/imacc.jpg" alt="Imac Pro 27 5k" class="img">
            <div class="name">
                <a href="#" class="nametext">Imac Pro 27 5k</a>
            </div>

            <div class="prise">
                <h3 class="usual">2000$</h3>
            </div>
        </div>

        <div class="prodheadi">
            <p class="prodtexti">MacMini</p>
        </div>

        <div class="mac">
            <img src="/static/img/itog/macmini.jpg" alt="MacMini" class="img">
            <div class="name">
                <a href="#" class="nametext">MacMini 4-th 2018</a>
            </div>

            <div class="prise">
                <h3 class="usual">900$</h3>
            </div>
        </div>

        <div class="mac">
            <img src="/static/img/itog/macmini.jpg" alt="MacMini" class="img">
            <div class="name">
                <a href="#" class="nametext">MacMini 6-th 2018</a>
            </div>

            <div class="prise">
                <h3 class="usual">1100$</h3>
            </div>
        </div>

        <div class="mac">
            <img src="/static/img/itog/macminii.jpg" alt="MacMini" class="img">
            <div class="name">
                <a href="#" class="nametext">MacMini 2013</a>
            </div>

            <div class="prise">
                <h3 class="usual">700$</h3>
            </div>
        </div>-->

    </div>
    {% endblock %}
