{% extends "server/master.html" %}

{% block page_title %}
Home
{% endblock %}

{% block page_content %}
<div class="productsi">
        <form action="" class="contform" method="POST">
            {% csrf_token %}
            <input type="text" class="formainp" placeholder="Your name">
            <input type="email" class="formainp" placeholder="Email">
            <input type="text" class="formainp" placeholder="Pasword">
            <input type="text" class="formainp" placeholder="Pasword">
            <input class="formainput" type="submit" value="Register">
        </form>
</div>
{% endblock %}
